<script>
  $(function() {
    // Create a new client to connect to Faye
    var client = new Faye.Client('http://localhost:9292/faye');

    // Subscribe to the public channel
    var public_subscription = client.subscribe('/messages/public', function(data) {

      $('<p></p>').html(data.username + ":    " + data.msg).appendTo('#chat_room');
      
    });
    
 
    // Handle form submissions and post messages to faye
    $('#new_public_message').submit(function(){
      // Publish the message to the public channel
      client.publish('/messages/public', {
        username: '<%= current_user.email %>',
        msg: $('#message').val()
      });

      //scroll to bottom
      var $t = $('div#chat_room');
      $t.animate({"scrollTop": $('div#chat_room')[0].scrollHeight}, "slow");
 
      // Clear the message box
      //$('#message').val('');
 
      // Don't actually submit the form, otherwise the page will refresh.
      return true;
    });
  });
</script>

<div class="chat_container">
  <div id="chat_room">
    <p class="alert"> Welcome to the chat room <%= current_user.email %>! </p>
  
   <% @public_messages.each do |message| %>
         <p><%= message.email %>:
         <%= message.public_message %></p>
   <% end %>

  </div>
  <%= form_for PublicMessage.new,:id=> 'new_public_message',  remote: true do |f| %>
  <br>
  <%=f.hidden_field :email, :value=>current_user.email%><br>
  Message: <%= f.text_field :public_message ,:class => 'chat_index', :id=>'message' %></p>
  <%= f.submit "Send" %>
<% end %>
 
  
</div>

